


#login-content{
  flex:1;
  padding-left: 172px;
  padding-right: 172px;
  padding-top: 200px;
}

#login-logo {
  display: block;
  margin: auto;
}

#login-title-sub{
  font-size: 16px;
}

#login-title {
  margin-top: -12px;
  font-size: 30px;
  font-weight: bold;
}


#forgot-pass{
  text-decoration: none;
  color: #3949AB;
}